.custom-button {
    background: #3D69E7;
    border-radius: 6px;
    padding: 14px 16px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'SF Pro', sans-serif;
    font-weight: 590;
    height: max-content;
  }