.main-container {
  width: 100%;
  max-width: 1292px;
  padding: 0 24px;
  margin-top: 58px;
  margin-bottom: 26px;
  
  .header-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .left-side {
      display: flex;
      align-items: center;

      .datepicker {
        width: 144px;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        margin-left: 16px;

        .MuiInputBase-root {
          font-size: 14px;
          height: 44px;
        }

        .MuiInputLabel-root {
          font-size: 14px;
          line-height: 1em;
        }

        .MuiOutlinedInput-notchedOutline {
          border-color: #E5E5E5;
        }


        .MuiSvgIcon-root {
          width: 0.8em;
        }
      }
    }

    .right-side {
      display: flex;

      .MuiOutlinedInput-notchedOutline {
        border-color: #E5E5E5;
      }

      .MuiInputBase-root {
        font-size: 14px;
        height: 44px;
      }

      .MuiSvgIcon-root {
        width: 0.8em;
      }
    }
  }

  .content-container {
    margin-top: 24px;
    
    .paper{
      min-height: 70vh;

      .task-container{
        padding: 0 16px;

        .card-container { 
          background-color: #FFFFFF;
          border: 1px solid #E5E5E5;
          border-radius: 12px;
          padding: 12px 16px 16px;
          box-shadow: 0px 0px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
          margin-bottom: 16px;     

          .MuiCardContent-root{
            padding: 0;
          }
        }

      }

    }

    .content-title {
      padding: 24px 16px;
      font-weight: 590;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
    }

    .backlog {
      color: #ACADF9;
    }

    .progress {
      color: #E26E46;
    }

    .done {
      color: #56B969;
    }
  }
}