    .react-datepicker-wrapper{ 
        width: 0;

        .datepicker-container{
            padding: 14px;
            border-radius: 6px;
            border: 1px solid #E5E5E5;
            margin-left: 16px;
        }
    }
