
@font-face {
  font-family: 'SF Pro';
  src: url('../src/fonts/Sf-pro/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

body {
  margin: 0;
  font-family: 'SF Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBFBFB;

  p{
    margin: 0;
  }
}

#root {
  display: flex;
  justify-content: center;
}